flows 2.json
[
    {
        "id": "10a174e073b497a3",
        "type": "tab",
        "label": "Kellerlüftung Tau",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e3757a9a5596398",
        "type": "inject",
        "z": "10a174e073b497a3",
        "name": "Injekt",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "872ddba037f5ebe0",
                "0f29c0ad6103c9b6"
            ]
        ]
    },
    {
        "id": "57f9095d4062a876",
        "type": "join",
        "z": "10a174e073b497a3",
        "name": "Sensoren:Join",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 600,
        "y": 160,
        "wires": [
            [
                "5c8ec360b1fee2cd"
            ]
        ]
    },
    {
        "id": "5c8ec360b1fee2cd",
        "type": "change",
        "z": "10a174e073b497a3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "beide_sensoren",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 160,
        "wires": [
            [
                "bdd26ce6b54c904c"
            ]
        ]
    },
    {
        "id": "bdd26ce6b54c904c",
        "type": "function",
        "z": "10a174e073b497a3",
        "name": "Daten aufbereiten und splitten",
        "func": "// Rundung der Feuchtigkeit auf eine Nachkommastelle\nmsg.payload.bme280_innen.humidity = Math.round(msg.payload.bme280_innen.humidity * 10) / 10;\nmsg.payload.bme280_aussen.humidity = Math.round(msg.payload.bme280_aussen.humidity * 10) / 10;\n\n// Funktion zur Berechnung des Taupunkts\nfunction calculateDewPoint(temperature, humidity) {\n    const a = 17.27;\n    const b = 237.7;\n    let alpha = (a * temperature) / (b + temperature) + Math.log(humidity / 100);\n    return (b * alpha) / (a - alpha);\n}\n\n// Eingehende Daten für Innen und Außen\nlet tempinnen = msg.payload.bme280_innen.temperature_C;\nlet humidityinnen = msg.payload.bme280_innen.humidity;\n\nlet tempaussen = msg.payload.bme280_aussen.temperature_C;\nlet humidityaussen = msg.payload.bme280_aussen.humidity;\n\n// Berechnung der Taupunkte\nlet dewPointinnen_C = calculateDewPoint(tempinnen, humidityinnen);\nlet dewPointaussen_C = calculateDewPoint(tempaussen, humidityaussen);\n\n//Überprüfen, ob die Innentemperatur mindestens 15 Grad Celsius beträgt \nlet innenTempOk = tempinnen >= 15;\nlet innenHumidityOk = humidityinnen >= 60;\nlet dewPointDiffOk = dewPointaussen_C <= (dewPointinnen_C - 3); \n// Korrekte Bedingung: Taupunkt außen mindestens 3°C niedriger als innen\n\n// Kombinierte Entscheidung: Lüfter nur an, wenn alle Bedingungen erfüllt sind\nlet luefterAn = innenTempOk && innenHumidityOk && dewPointDiffOk;\n\n// Hinzufügen der berechneten Werte zum msg-Objekt\nmsg.payload.dewPoint_innen = dewPointinnen_C;\nmsg.payload.dewPoint_aussen = dewPointaussen_C;\n//msg.payload.luefterAn = \"1\" : \"0\";\nmsg.payload.luefter = luefterAn ? \"1\" : \"0\";\n\n\n// Rundung des Taupunkts auf eine Nachkommastelle\nmsg.payload.dewPoint_innen = Math.round(msg.payload.dewPoint_innen * 10) / 10;\nmsg.payload.dewPoint_aussen = Math.round(msg.payload.dewPoint_aussen * 10) / 10;\n\n// Rückgabe des gesamten msg-Objekts\nreturn [\n    {payload: msg.payload.bme280_innen.temperature_C},\n    {payload: msg.payload.bme280_aussen.temperature_C},\n    {payload: msg.payload.bme280_innen.humidity},\n    {payload: msg.payload.bme280_aussen.humidity},\n    {payload: msg.payload.dewPointinnen_C},\n    {payload: msg.payload.dewPointaussen_C},\n    {payload: msg.payload.luefter},\n    msg\n]",
        "outputs": 8,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 160,
        "wires": [
            [
                "060b1b45cf47bc2e",
                "ff1afff773966b54"
            ],
            [
                "ff1afff773966b54"
            ],
            [
                "fabb83c2cc47b2e3",
                "b5fd7375ff0d1fd6"
            ],
            [
                "c94ae2de69ab0b14"
            ],
            [],
            [],
            [],
            [
                "7dfdb8b8f335e829",
                "be0570cb5d5b8fa3",
                "19bddbc8a3e33308",
                "0cd817b30ce51673"
            ]
        ]
    },
    {
        "id": "19bddbc8a3e33308",
        "type": "switch",
        "z": "10a174e073b497a3",
        "name": "switch",
        "property": "payload.luefter",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 400,
        "wires": [
            [
                "b0fa4747a1990452",
                "cd7b6a083535db14",
                "279151a4d2118c45",
                "170d4fc1a043eac9",
                "0cd817b30ce51673"
            ],
            [
                "170d4fc1a043eac9",
                "0cd817b30ce51673"
            ]
        ]
    },
    {
        "id": "170d4fc1a043eac9",
        "type": "function",
        "z": "10a174e073b497a3",
        "name": "Empfehlung",
        "func": "if (msg.payload.luefter == 0)\n{\n    msg.payload = \"Es sollte nicht gelüftet werden!\"\n}\nif (msg.payload.luefter == 1)\n{\n    msg.payload = \"Es sollte gelüftet werden!\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 540,
        "wires": [
            [
                "4163f5563be43e69"
            ]
        ]
    },
    {
        "id": "279151a4d2118c45",
        "type": "trigger",
        "z": "10a174e073b497a3",
        "name": "Trigger 15 Minuten Lüften",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "15",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 970,
        "y": 420,
        "wires": [
            [
                "7796fc0ffe1c8f87",
                "2be772a6bc81d925",
                "0cd817b30ce51673",
                "bb149092243e9cef"
            ]
        ]
    },
    {
        "id": "2be772a6bc81d925",
        "type": "rpi-gpio out",
        "z": "10a174e073b497a3",
        "name": "Lüfter 12V",
        "pin": "14",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1270,
        "y": 460,
        "wires": []
    },
    {
        "id": "872ddba037f5ebe0",
        "type": "Bme280",
        "z": "10a174e073b497a3",
        "name": "Sensor innen",
        "bus": "1",
        "address": "0x77",
        "topic": "bme280_innen",
        "extra": false,
        "preasure": 1013.25,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "57f9095d4062a876"
            ]
        ]
    },
    {
        "id": "0f29c0ad6103c9b6",
        "type": "Bme280",
        "z": "10a174e073b497a3",
        "name": "Sensor aussen",
        "bus": "1",
        "address": "0x76",
        "topic": "bme280_aussen",
        "extra": false,
        "preasure": 1013.25,
        "x": 300,
        "y": 200,
        "wires": [
            [
                "57f9095d4062a876"
            ]
        ]
    },
    {
        "id": "b0fa4747a1990452",
        "type": "ui_button",
        "z": "10a174e073b497a3",
        "name": "",
        "group": "6b9d3f8038dc2fc0",
        "order": 6,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "15 Minuten lüften",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "payload.lueften",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 440,
        "wires": [
            [
                "279151a4d2118c45"
            ]
        ]
    },
    {
        "id": "cd7b6a083535db14",
        "type": "ui_switch",
        "z": "10a174e073b497a3",
        "name": "",
        "label": "Lütung an/aus",
        "tooltip": "",
        "group": "6b9d3f8038dc2fc0",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "payload.luefter",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 660,
        "y": 480,
        "wires": [
            [
                "2be772a6bc81d925",
                "bb149092243e9cef"
            ]
        ]
    },
    {
        "id": "060b1b45cf47bc2e",
        "type": "ui_gauge",
        "z": "10a174e073b497a3",
        "name": "",
        "group": "fd704486229076d7",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Temperatur ",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "35",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1510,
        "y": 100,
        "wires": []
    },
    {
        "id": "ff1afff773966b54",
        "type": "ui_gauge",
        "z": "10a174e073b497a3",
        "name": "",
        "group": "4883bbb7509c7515",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Temperatur",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1510,
        "y": 140,
        "wires": []
    },
    {
        "id": "fabb83c2cc47b2e3",
        "type": "ui_gauge",
        "z": "10a174e073b497a3",
        "name": "",
        "group": "fd704486229076d7",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Luftfeuchtigkeit",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1520,
        "y": 180,
        "wires": []
    },
    {
        "id": "c94ae2de69ab0b14",
        "type": "ui_gauge",
        "z": "10a174e073b497a3",
        "name": "",
        "group": "4883bbb7509c7515",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Luftfeuchtigkeit",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1520,
        "y": 260,
        "wires": []
    },
    {
        "id": "b5fd7375ff0d1fd6",
        "type": "ui_chart",
        "z": "10a174e073b497a3",
        "name": "",
        "group": "6b9d3f8038dc2fc0",
        "order": 9,
        "width": 0,
        "height": 0,
        "label": "Luftfeuchtigkeit",
        "chartType": "line",
        "legend": "false",
        "xformat": "D/M",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1520,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "bb149092243e9cef",
        "type": "rpi-gpio out",
        "z": "10a174e073b497a3",
        "name": "Lüfter 230V",
        "pin": "15",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1270,
        "y": 540,
        "wires": []
    },
    {
        "id": "03bab91d93b34de2",
        "type": "remote-access",
        "z": "10a174e073b497a3",
        "confignode": "2095684ced75f133",
        "name": "",
        "verbose": 0,
        "x": 120,
        "y": 400,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7dfdb8b8f335e829",
        "type": "ui_artlessgauge",
        "z": "10a174e073b497a3",
        "group": "fd704486229076d7",
        "order": 6,
        "width": "3",
        "height": "3",
        "name": "",
        "icon": "",
        "label": "Taupunkt ",
        "unit": "",
        "layout": "radial",
        "decimals": 0,
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload.dewPoint_innen",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#76bb40",
                "t": "min",
                "dot": 0
            },
            {
                "val": 50,
                "col": "#76bb40",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "5",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1520,
        "y": 300,
        "wires": []
    },
    {
        "id": "be0570cb5d5b8fa3",
        "type": "ui_artlessgauge",
        "z": "10a174e073b497a3",
        "group": "4883bbb7509c7515",
        "order": 6,
        "width": "3",
        "height": "3",
        "name": "",
        "icon": "",
        "label": "Taupunkt ",
        "unit": "",
        "layout": "radial",
        "decimals": 0,
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload.dewPoint_aussen",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#669d34",
                "t": "min",
                "dot": 0
            },
            {
                "val": 50,
                "col": "#669d34",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "5",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1520,
        "y": 340,
        "wires": []
    },
    {
        "id": "4163f5563be43e69",
        "type": "ui_text_input",
        "z": "10a174e073b497a3",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "6b9d3f8038dc2fc0",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "payload.luefter",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 840,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "7796fc0ffe1c8f87",
        "type": "ui_led",
        "z": "10a174e073b497a3",
        "order": 4,
        "group": "6b9d3f8038dc2fc0",
        "width": "6",
        "height": "1",
        "label": "Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1250,
        "y": 420,
        "wires": []
    },
    {
        "id": "0cd817b30ce51673",
        "type": "debug",
        "z": "10a174e073b497a3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 320,
        "wires": []
    },
    {
        "id": "6b9d3f8038dc2fc0",
        "type": "ui_group",
        "name": "Keller",
        "tab": "7c39f370fae68bf5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fd704486229076d7",
        "type": "ui_group",
        "name": "Innen",
        "tab": "7c39f370fae68bf5",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4883bbb7509c7515",
        "type": "ui_group",
        "name": "Aussen",
        "tab": "7c39f370fae68bf5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2095684ced75f133",
        "type": "remote-config",
        "name": "Node-RED UI",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "41beuv51z854m9i4lf2dcodgsstt5ta9l6ebmt4uvz5xlt891p0buehpaov8vm8f",
        "server": "nodered04.remote-red.com",
        "region": "de"
    },
    {
        "id": "7c39f370fae68bf5",
        "type": "ui_tab",
        "name": "Keller",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]